body{
  background-image: url("images/Screenshot_31.jpg");
  max-height:100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.index{
  overflow-y: hidden;
 
}
.map {
    height: 880px;
    width: 99.5%;
    margin-top:7px;
    margin-left: auto;
    margin-right:auto;
  }
  #checkboxes {
    float:left;
    position:absolute;
    margin-top:10px;
    margin-left:10px;
    background-color:#fff2cc;
    padding:5px 15px;
    border-radius: 10px;
    margin-top:5px;
  }

  .buttons{
    text-align: center;
    
  }
  .newSite{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    margin: 9px 5px 10px 5px;
    background-color: #fff2cc;
    display: inline-block;
    padding:5px 10px 5px 10px;
    border-radius:5px;
  }

  @media (max-width: 1530px) {

    .index .newSite {
          float:right;
     }

}

  .checkbox-inline,.newSite,.clearAll{
    font-family: Arial, Helvetica, sans-serif;
  }

  .text{
    font-family: 'Passion One';
  }

  .paragraph{
    color:#09375f;
    margin-top:0px;
  }
  .title{
    color: #09375f;
    margin-top:0px;
    margin-bottom:0px;
    text-align: center;
  }

  .clearAll{
    border-radius: 10px;
    padding:5px 8px;
    margin-left: 10px;
    background-color: #09375f;
    color: white;
    border: 0;
  }

  .images{
    margin: 10px 10px 0 10px;
    width:95%;
    max-width: 387px;
    max-height: 194px;
    object-fit: contain;
  }

  .cards{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top:20px;
  }

  .card{
    position:relative;
    width:408px;
    height: 440px;
    padding-bottom:50px;
    background-color:#fff2cc;
    box-shadow: 0 21px 35px rgb(0 0 0/ .10);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom:30px;
    transition: 0.5s;

  }

  .card .text{
    padding: 15px;
  }

  .card p{
    font-size:18px;
    line-height:30px;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
  }

  .card h2{
    font-size: 30px;
    margin-bottom: 20px;
  }

  .card:hover{
    filter: grayscale(40%);
    transform: scale(1.06);
    cursor: pointer;
  }

  .cardLink{
    text-decoration: none;
  }